@inject shift_dashboard.Models.DashboardConfig dashboardconfig

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h3><img src="@Url.Content("~/img/shift.png")" alt="@(dashboardconfig.ApplicationName) Logo" class="brand-image img-circle elevation-3" style="opacity: .8" height="30" />@(dashboardconfig.ApplicationName)</h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">About</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="col-lg-12">
            <div class="box card">
                <div class="card-body">
                    <div class="d-flex">
                        <div>
                            <h5>Hi!</h5>
                            <p>
                                Hey friends! Thank you for visiting my Dashboard, 
                                This project is my little contribution to <b> <a ref="https://shiftnrg.org/">Shift!</a></b>.  If you want to support the work 
                            </p>

                            <p>I also love the great community around <b>RISE!</b>. A lot of people who helped me by contributing votes or bounty!... You will find me hanging around Telegram or Slack channel under nickname Dwildcash</p>

                            <p>
                                It is always fun to receive contribution so if you like what I am doing, you can send me some Shift at the following address <b><a href="https://explorer.shiftnrg.org/address/5263887536226471487" target="_blank" rel="noopener noreferrer">5263887536226471487S</a></b>
                                you can also participate by voting for delegate <b><a href="https://explorer.shiftnrg.org/address/5263887536226471487S" target="_blank" rel="noopener noreferrer"> <b>Dwildcash</b>  Iam sharing 40% each day.</a></b>
                            </p>
                            <p>
                                Thanks all for your votes!
                                <br /><img src="@Url.Content("~/img/dwild2.png")" width="125" />Thank you in advance! -- <a href="https://explorer.shiftnrg.org/address/5263887536226471487S" target="_blank" rel="noopener noreferrer">Dwildcash </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>